<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WopiHost.Web</title>
    <link rel="stylesheet" href="https://unpkg.com/marx-css/css/marx.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav>
        <ul>
            <li>
                <a asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li>
                <a href="https://github.com/petrsvihlik/WopiHost">GitHub</a>
            </li>
            <li>
                <a href="https://www.paypal.me/Svihlik">Donate</a>
            </li>
        </ul>
    </nav>
    <header>
    </header>
    <main>
        <section>
            <h1>WopiHost - Example</h1>
            @RenderBody()
        </section>
    </main>
    <footer>
        <p>&copy; @DateTime.Now.Year - WopiHost.Web</p>
    </footer>
@await RenderSectionAsync("scripts", required: false)
</body>
</html>
