@using System.Threading.Tasks
@using WopiHost.Web.Models
@{
	ViewData["Title"] = "Home Page";
}

<div class="row">
	<div class="col-md-3">
		<ul>
			@foreach (File f in @Model)
			{
				<li><a href="@f.Url">@f.Name [Version: @f.Version]</a></li>
			}
		</ul>
	</div>
</div>
