@using WopiHost.Abstractions
@model IEnumerable<IWopiFile>
@{
    ViewData["Title"] = "List of WOPI files";
}

<h2>Documents:</h2>
<ul>
    @foreach (var file in @Model)
    {
        <li><a asp-area="" asp-controller="Home" asp-action="Detail" asp-route-id="@file.Identifier">@file.Name</a></li>
    }
</ul>