@using SampleWeb.Models
@{
	ViewBag.Title = "WOPI File list";
}

<div class="row">
	<br/>
	<div class="col-md-4">
		<ul>
			@foreach (FileModel f in @Model)
			{
				<li><a href="@f.FileUrl">@f.FileName</a></li>
			}
		</ul>

	</div>
</div>
