@{
    ViewData["Title"] = "Access denied";
}

<h2>Access denied</h2>
<p>Your account does not have access to this resource. Contact your administrator if you believe this is an error.</p>
<p><a asp-controller="Account" asp-action="Logout">Sign out</a></p>
