name: Build & Test

on:
  push:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '8.0.x'
    - name: Restore dependencies
      run: dotnet restore -s ${MYGET_FEED} -s https://api.nuget.org/v3/index.json
      env:
        MYGET_FEED: ${{ secrets.MYGET_FEED }}
    - name: Build
      run: dotnet build --no-restore /p:ContinuousIntegrationBuild=true
    - name: Test
      run: dotnet test --no-build --verbosity normal /p:CollectCoverage=true /p:CoverletOutputFormat=opencover
    - name: Codecov
      uses: codecov/codecov-action@v3
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
    #- name: Run FOSSA scan
    #  uses: fossa-contrib/fossa-action@v1
    #  with:
    #    fossa-api-key: ${{ secrets.FOSSA_API_KEY }}
