name: Pull Request

on:
  pull_request_target:
    branches: [ master ]

jobs:
  approve:    
    runs-on: ubuntu-latest

    steps:
    - name: Approve
      run: echo For security reasons, all pull requests need to be approved first before running any automated CI.
  
  build:
    runs-on: ubuntu-latest

    needs: [approve]
    environment:
      name: Integrate Pull Request
    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Restore dependencies
      run: dotnet restore -s ${MYGET_FEED} -s https://api.nuget.org/v3/index.json
      env:
        MYGET_FEED: ${{ secrets.MYGET_FEED }}        
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal /p:CollectCoverage=true /p:CoverletOutputFormat=opencover
    - name: Codecov
      uses: codecov/codecov-action@v1.2.1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        override_pr: ${{ github.event.number }}
        override_commit: ${{ github.event.pull_request.head.sha }}
